.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  justify-items: left;
  vertical-align: top;
  text-align: left;
}

.main {
  padding: 0;
}

.sectionWrapper{
  margin-top: 1.5rem;
}